{% extends 'base.html' %}

{% block title %}Friend Requests - Thefacebook{% endblock %}

{% block content %}
<h2>Friend Requests</h2>
<table class="directory-table">
    <tr>
        <th></th>
        <th>Name</th>
        <th></th>
    </tr>
    {% for request in pending_requests %}
    <tr>
        <td>
            <a href="{% url 'profile' request.from_user.username %}">
                {% if request.from_user.profile.profile_picture %}
                <img src="{{ request.from_user.profile.profile_picture.url }}" alt="Profile" class="thumb">
                {% else %}
                <div class="thumb default-avatar">{{ request.from_user.username|first|upper }}</div>
                {% endif %}
            </a>
        </td>
        <td><a href="{% url 'profile' request.from_user.username %}">{{ request.from_user.get_full_name|default:request.from_user.username }}</a></td>
        <td>
            <a href="{% url 'respond_to_request' request.id 'accept' %}">Accept</a>
            <a href="{% url 'respond_to_request' request.id 'reject' %}">Reject</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="3">No pending friend requests.</td></tr>
    {% endfor %}
</table>
{% endblock %}
