{% extends 'base.html' %}

{% block title %}About - Thefacebook{% endblock %}

{% block content %}
<h2>The Project</h2>
<p>
    Thefacebook is an online directory that connects people through social networks at colleges and universities.
</p>

<h2>The People</h2>
<table class="profile-info-table">
    <tr>
        <td class="label">Mark Zuckerberg:</td>
        <td>Founder, Master and Commander, Enemy of the State</td>
    </tr>
    <tr>
        <td class="label">Eduardo Saverin:</td>
        <td>Business Stuff, Corporate Stuff, Brazilian Affairs</td>
    </tr>
    <tr>
        <td class="label">Andrew McCollum:</td>
        <td>Graphic Art, General Rockstar</td>
    </tr>
</table>
{% endblock %}
